/*Google Fonts
    font-family: 'Comfortaa', cursive;
    font-family: 'Jost', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Jost', sans-serif;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

header{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 24rem;
    height: 8rem;
    display: block;
    margin: auto;
    padding: 0.5rem;
    animation: animacionLogo 1s ease 0s 1 normal forwards;
}

@keyframes animacionLogo {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

a{
    text-decoration: none;
    color: white;
}

.barraNavegacion__lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    font-size: 1.2rem;
    list-style: none;  
    background-color: rgb(19, 19, 83);
}

.barraNavegacion__lista li{
    margin: auto;
    padding: 0.5rem;
    transition: background-color 1s;
}

.barraNavegacion__lista li:hover{
    background-color:rgb(86, 76, 145);
}

.barraNavegacion__lista li:active{
    background-color:rgb(37, 15, 161);
}

.barraNavegacion__lista--subLista{
    position: relative;
}

.barraNavegacion__subLista{
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgb(41, 41, 136);
    top: 2.75rem;
    left: 0;
}
.barraNavegacion__subLista li{
    padding-left: 0.85rem;
    padding-right: 0.85rem;
}
.barraNavegacion__lista--subLista:hover .barraNavegacion__subLista{
    display: block;
}

p{
    animation: animacionParrafo 1.5s ease 0s 1 normal forwards;
}

@keyframes animacionParrafo {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.titulo, .tituloClaro{
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
    padding: 2rem;
    background-color:  rgba(2, 2, 2, 0.541);
    color: white;
}

.tituloClaro{
    background-color: rgba(255, 255, 255, 0.274);
}

.subTitulo{
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

.parrafoInicial, .parrafoSecundario{
    font-size: 2rem;
    text-align: center;
    padding: 5rem;
    padding-right: 8rem;
    padding-left: 8rem;
    color: black;
}

.parrafoInicial p, .parrafoSecundario p{
    background-color:  rgba(2, 2, 2, 0.767);
    color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.parrafoSecundario p{
    font-size: 1.4rem;
    padding: 1rem;
}

h2, h3{
    text-align: center;
}

h3{
    color: white;
    background-color: black;
}

main ul li{
    text-align: center;
}

.fondoInicio{
    background-image: url(./imagenes/printer.jpg);  
    background-size: cover;
}

.fondoServicios{
    background-image: url(./imagenes/printer2.jpg);  
    background-size: cover;
}

.fondoSobreNosotros{
    background-image: url(./imagenes/plotter5.jpg);  
    background-size: cover;
}

.fondoContacto{
    background-image: url(./imagenes/plotter.jpg);  
    background-size: cover;
}

.video{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contenedorVideos{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.226);
}

.imagen, .mapa{
    padding-top: 2rem;
    text-align: center;
}

.mapa{
    padding: 1rem 1rem;
    background-color:  rgba(2, 2, 2, 0.479);
}

.tarjetas h2{
    background-color:black;
    color: white;
}

.gridTarjetas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 3rem;
}

.tarjeta{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    height: 22rem;
    background-image: url(./imagenes/vinilo4.png);
    background-size: cover;
    background-position: center;
}

.tarjeta1{
    grid-column: 1 / span 2;
    background-image: url(./imagenes/vinilo4.png);
}

.tarjeta2{
    background-image: url(./imagenes/calco1.jpg);
}

.tarjeta3{
    background-image: url(./imagenes/vinilo1.jpg);
}

.tarjeta4{
    background-image: url(./imagenes/vinilo2.jpg);
}

.tarjeta5{
    background-image: url(./imagenes/vinilo3.png);
}

.tarjeta6{
    grid-column: 1 / span 2;
    background-image: url(./imagenes/llaveros1.jpg);
}

.tarjeta7{
    background-image: url(./imagenes/llaveros2.jpeg);
}

.tarjeta8{
    background-image: url(./imagenes/llaveros3.jpg);
}

.tarjeta9{
    background-image: url(./imagenes/llaveros4.jpg);
}

.tarjeta10{
    background-image: url(./imagenes/llaveros5.JPG);
}

.tarjeta11{
    grid-column: 1 / span 2;
    background-image: url(./imagenes/remera5.jpeg);
}

.tarjeta12{
    background-image: url(./imagenes/remera2.jpeg);
}

.tarjeta13{
    background-image: url(./imagenes/remera3.jpeg);
}

.tarjeta14{
    background-image: url(./imagenes/remera4.jpeg);
}

.tarjeta15{
    background-image: url(./imagenes/remera1.jpeg);
}

.enviosLogo{
    text-align: center;
}

.contenedorFormulario{
    background-color:  rgba(2, 2, 2, 0.479);
}

.formulario{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.formulario__item, .formulario__item--mensaje{
    height: 1.8rem;
    width: 40%;
    margin: 0.4rem;
    border-color: rgba(0, 0, 0, 0.445);
    border-radius: 0.5rem;
}

.formulario__item--mensaje{
    padding-bottom: 5rem;
}

.botonEnviar{
    margin-top: 1rem;
    height: 2rem;
    width: 20%;
    background-color: black;
    border-radius: 0.5rem;
    color: white;
}

.botonEnviar:hover{
    background-color:rgb(68, 67, 67);
    transform: scale(1.2)
}

.piePagina{
    background-color: black;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piePagina__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piePagina__lista li{
    list-style-type: none;
    color: white;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

.burger{
    display: none;
}

@media only screen and (max-width: 480px){

    .barraNavegacion__lista{
        display: none;
    }

    .burger{
        display: inline-block;
    }

    header{
        flex-direction: row;
        justify-content:center;
        align-items:center;
    }

    .logo{
        transform: scale(0.8);
    }
    
    .titulo{
        font-size: 0.7rem;
        background-color:  rgba(2, 2, 2, 0.363);
    }

    .subTitulo{
        font-size: 0.8rem;
    }

    .parrafoInicial{
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 2rem 3rem 2rem 3rem;
    }

    h3{
        font-size: 1rem;
    }

    .gridTarjetas{
        display: block;
    }

    .tarjeta1, .tarjeta2, .tarjeta3, .tarjeta4, .tarjeta5, 
    .tarjeta6, .tarjeta7, .tarjeta8, .tarjeta9, .tarjeta10
    .tarjeta11, .tarjeta12, .tarjeta13, .tarjeta14, .tarjeta15{
        margin: 1rem;
    }

    .video{
        display: none;
    }

    .imagen{
        padding: 0;
        margin: 0;
    }

    .imagen img{
        transform: scale(0.7);
    }

    .parrafoSecundario{
        padding: 4rem;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }

    .formulario {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .formulario__item, .formulario__item--mensaje{
        width: 80%;
    }

    #gb-widget-8536{
        display: none;
    }
}